.header {
    background: #ff3390;
    width: 945px;
    height: 170px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav {
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0.10px;
    position: relative;
    top: -10px; /* Ajusta el valor según lo que necesites */
}

.nav a {

   
    text-decoration: none;
   
    color: gray;
   
    font-weight: bold;
   
}

.nav1 {
    background-color: #f8f9fa;
    width: 334;
    height: 79;
}

.nav2 {
    background-color: #f8f9fa;
    width: 334;
    height: 79;
}

.nav3 {
    background-color: #f8f9fa;
    width: 334;
    height: 79;
}
.img{
    background: #ff3390;
    width: 390px;
    height: 170px;
    position: fixed;
    top: 0;
    right:  0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
}

.header img{
    display: flex;
    gap: 15rem;
    padding: 20px;
}
.fot{
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0.10px;
    position: relative;
    top: -20px;
}